<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!--Diretório de Origem dos arquivos-->
		<add key="CaminhoOrigem" value="C:\__Aprendizagem\C_Sharp_Exercices\Exercicio_2\Examples"/>
		<add key="CaminhoDestino" value="C:\__Aprendizagem\C_Sharp_Exercices\Exercicio_2\Feito"/>
		<add key="1231231" value="Ubisoft"/>
		<add key="111222333444" value="From_Software"/>
		<add key="987654321" value="Steam"/>
		<add key="777888" value="CD_Projekt_Red"/>
	</appSettings>
</configuration>